#Mercúrio {
  width: 50px;
}

#Vênus {
  width: 110px;
}

#Terra {
  width: 125px;
}

#Marte {
  width: 100px;
}

#Júpiter {
  width: 250px;
}

#Saturno {
  width: 210px;
}

#Urano {
  width: 160px;
}

#Netuno {
  width: 155px;
}